{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'newsletter:posts-list' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'newsletter:post-detail' comment.post.id %}">{{ comment.post }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Delete comment</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  Delete comment
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Do you really want to delete that comment?</p>
    <p>{{ comment.text|linebreaks }}</p>
    {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}