{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dj_newsletter:posts-list' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Delete post '{{ post }}'</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  Delete post '{{ post }}'
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Do you really want to delete that post and its comments?</p>
    {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
  </form>
{% endblock %}