{% extends "base.html" %}
{% load bootstrap4 %}

{% block path %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dj_newsletter:posts-list' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ post }}</a></li>
    </ol>
  </nav>
{% endblock %}

{% block page_title %}
  {{ post }}
{% endblock %}

{% block page_title_buttons %}
  <div class="btn-group float-right" role="group" aria-label="Basic example">
    <a class="btn btn-primary" href="{% url 'dj_newsletter:post-update' post.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'dj_newsletter:post-delete' post.id %}">Delete</a>
  </div>
{% endblock %}

{% block content %}
  <p><small>Written by {{ post.author.get_full_name }} at {{ post.created|date:"d/m/Y H:i" }}</small></p>

  <p>{{ post.text_md|safe }}</p>

  {% for comment in post.comment_set.all %}
    {% if forloop.first %}
      <h3 class="float-left">{{ post.comment_set.count }} comment{% if post.comment_set.count >= 2 %}s{% endif %}</h3>
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vcnModal">
          Add new comment
        </button>
        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="To update your comment, you have to click on it. It will redirect you to the update/delete page">
          Update comment
        </button>
        <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="To delete your comment, you have to click on it. It will redirect you to the update page, then you can click on the deletion button">
          Delete comment
        </button>
      </div>
      <div class="list-group w-100 mb-2">
    {% endif %}

    {% if user.is_authenticated and comment.author == user %}
      <a href="{% url 'dj_newsletter:post-comment-update' comment.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
    {% else %}
      <li class="list-group-item flex-column align-items-start">
    {% endif %}
      <div class="d-flex justify-content-between">
        <h5 class="mb-0">{{ comment.author.get_full_name }}</h5>
        <small>{{ comment.created|date:"d/m/Y H:i" }}</small>
      </div>
      <p class="mb-1">{{ comment.text|linebreaks }}</p>

    {% if comment.author == request.user %}
      </a>
    {% else %}
      </li>
    {% endif %}
    {% if forloop.last %}
      </div>
    {% endif %}
  {% empty %}
    <h3>No comment</h3>
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#vcnModal">
        Add new comment
      </button>
  {% endfor %}

  <!-- Modal -->
  <div class="modal fade" id="vcnModal" tabindex="-1" role="dialog" aria-labelledby="newCommentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newCommentModal">Add new comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block javascript %}
  <!--modal-->
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
  </script>
{% endblock %}
