<h1 class="float-left">Posts</h1>

{% for object in objects %}
  {% if forloop.first %}
    <div class="list-group">
  {% endif %}

  <a href="{% url 'dj_newsletter:post-detail' object.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex row">
      <img class="col-md-2" class="mr-2" src="{{ object.logo.url }}" alt="{{ object }}">
      <div class="col-md-10 align-self-center">
        <h5 class="mb-1">{{ object }}</h5>
        <p class="mb-1">{{ object.summary }}</p>
      </div>
    </div>
  </a>

  {% if forloop.last %}
    </div>
  {% endif %}
{% empty %}
  <p>No posts...</p>
  <p>You can create one <a href="{% url 'dj_newsletter:post-create' %}">here</a></p>
{% endfor %}
